
  #profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
  }

  .section__pic-container {
    display: flex;
    height: 400px;
    width: 200px;
    margin: auto 0;
  }

  .profil-img {
    border-radius: 20px;
  }

  .section__text {
    align-self: center;
    text-align: center;
  }

  .section__text p {
    font-weight: 600;
  }

  .section__text__p1 {
    text-align: center;
  }

  .section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  .section__text__p3 {
    text-align: center;
   margin-top: 20px auto;
  }

  .title {
    font-size: 3rem;
    text-align: center;
  }

  #socials-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
  }

  /* BUTTON */

  .btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .btn {
    font-weight: 600;
    font-size: 1rem;
    transition: all 300ms ease;
    padding: 1rem;
    width: 9rem;
    border-radius: 2rem;
  }

  .btn-color-1, 
  .btn-color-2 {
    border: #125C13 .1rem solid;
  }

  .btn-color-1:hover, 
  .btn-color-2:hover {
    cursor: pointer;
  }
  
  .btn-color-1, 
  .btn-color-2:hover {
    background:#16FF00;
    color: white;
  }

  .btn-color-1:hover {
    background: #16FF00;
    border: #16FF00;
  }

  .btn-color-2 {
    background: none;
  }

  .btn-color-2:hover {
    border: rgb(255,255,255) 0.1rem solid;
  }

  .btn-container {
    gap: 1rem;
  }

  